body {
    background-image: linear-gradient(to bottom, grey, #2c2c2c), url("files/geralt_bg.jpg");
    background-blend-mode: multiply;
    background-repeat: repeat;
    background-attachment: fixed;
}
.navbar {
    width: 98%;
    border: solid;
    border-width: 10px;
    border-color: #2e251b;
    background-color: #242424;
    padding: 10px;
}
.navbar_table {
    display: inline-block;
    height: 90px;
    width: 70%;
}
.navbar_field {
    text-align: center;
    padding: 10px;
}
.navbar_space {
    font-size: 40px;
    color: aliceblue;
}
.navbar_link {
    text-decoration: none;
    font-size: 40px;
    color: aliceblue;
    font-family: Helvetica, sans-serif;
}
a.navbar_link:hover {
    color: #0088ff;
}
#navbar_pic {
    display: inline-block;
    float: right;
    height: 75px;
    border: solid;
    border-width: 2px;
    border-color: #ffffff;
    padding: 1px;
}
.block_halfPage {
    display: inline-block;
    width: 48%;
    padding: 10px;
    color: #cceaea;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 20px;
}
.block_center {
    width: 96%;
    padding: 10px;
    text-align: center;
    color: #cceaea;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.hpimg {
    width: 99%;
}
.beastimg {
    margin-left: 20%;
    width: 60%;
}