p {
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
}
a {
    text-decoration: none;
    color: rgba(32, 58, 255, 0.81);
}
#big {
    text-transform: uppercase;
    white-space: pre-wrap;
}
#shadow {
    text-shadow: 4px 4px 5px grey;
}
#space {
    letter-spacing: 5px;
}